In [29]:
import pandas as pd 

df = pd.read_csv('/home/apprenant/DevIA/Popularity_corner/popularity_corner/data_movies.csv')

In [30]:
df.shape

(9093, 17)

In [32]:
df = df.loc[df['box_office_title'] == 'Box Office France']

ValueError: ('Lengths must match to compare', (9093,), (1,))

In [27]:
df.shape

(0, 17)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8465 entries, 0 to 9308
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   title                  8465 non-null   object
 1   release_date           8343 non-null   object
 2   genre                  8460 non-null   object
 3   duration               8465 non-null   object
 4   director               8465 non-null   object
 5   producers              8254 non-null   object
 6   cast                   8355 non-null   object
 7   age_limit              2331 non-null   object
 8   nationality            8465 non-null   object
 9   distributor            8465 non-null   object
 10  box_office_title       8465 non-null   object
 11  box_office_first_week  8465 non-null   int64
 12  press_eval             8448 non-null   object
 13  viewers_eval           8441 non-null   object
 14  views                  8331 non-null   float64
dtypes: float64(1), int64(1), object(13)
memory usage: 1.0+ MB

In [6]:
df = df.drop('age_limit', axis=1)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8465 entries, 0 to 9308
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   title                  8465 non-null   object
 1   release_date           8343 non-null   object
 2   genre                  8460 non-null   object
 3   duration               8465 non-null   object
 4   director               8465 non-null   object
 5   producers              8254 non-null   object
 6   cast                   8355 non-null   object
 7   nationality            8465 non-null   object
 8   distributor            8465 non-null   object
 9   box_office_title       8465 non-null   object
 10  box_office_first_week  8465 non-null   int64
 11  press_eval             8448 non-null   object
 12  viewers_eval           8441 non-null   object
 13  views                  8331 non-null   float64
dtypes: float64(1), int64(1), object(12)
memory usage: 992.0+ KB

In [8]:
df = df.dropna(subset=['producers', 'release_date','cast','views','press_eval','viewers_eval'])

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7939 entries, 0 to 9113
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   title                  7939 non-null   object
 1   release_date           7939 non-null   object
 2   genre                  7939 non-null   object
 3   duration               7939 non-null   object
 4   director               7939 non-null   object
 5   producers              7939 non-null   object
 6   cast                   7939 non-null   object
 7   nationality            7939 non-null   object
 8   distributor            7939 non-null   object
 9   box_office_title       7939 non-null   object
 10  box_office_first_week  7939 non-null   int64
 11  press_eval             7939 non-null   object
 12  viewers_eval           7939 non-null   object
 13  views                  7939 non-null   float64
dtypes: float64(1), int64(1), object(12)
memory usage: 930.4+ KB

In [10]:
df['title'] = df['title'].str.lower()

In [11]:
df.drop_duplicates()

,title,release_date,genre,duration,director,producers,cast,nationality,distributor,box_office_title,box_office_first_week,press_eval,viewers_eval,views
0,guardians of the galaxy vol. 3,3 mai 2023,"Action, Fantastique, Science fiction",2h 30min,James Gunn,James Gunn,"Chris Pratt, Zoe Saldana, Dave Bautista",U.S.A.,The Walt Disney Company France,Box Office France,1323124,"3,6","4,2",251776.0
1,sexygénaires,14 juin 2023,Comédie,1h 20min,Robin Sykes,"Antoine Raimbault, Robin Sykes","Thierry Lhermitte, Patrick Timsit, Marie Bunel",France,Apollo Films / Orange Studio,Box Office France,63084,"2,8","2,6",25555.0
2,pornomelancolía,21 juin 2023,Drame,1h 34min,Manuel Abramovich,"Manuel Abramovich, Fernando Krapp","Lalo Santos, Diablo, Brandon Ley",Argentine,Epicentre Films,Box Office France,3611,"3,5","2,6",6778.0
4,sick of myself,31 mai 2023,Comédie dramatique,1h 37min,Kristoffer Borgli,Kristoffer Borgli,"Kristine Kujath Thorp, Eirik Sæther, Fanny Vaager",Norvège,Tandem,Box Office France,14638,"3,4","3,4",87714.0
5,la syndicaliste,1 mars 2023,"Thriller, Drame",2h 01min,Jean-Paul Salomé,"Fadette Drouard, Jean-Paul Salomé","Isabelle Huppert, Grégory Gadebois, Yvan Attal",France,Le Pacte,Box Office France,192422,"3,3","3,9",182409.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9105,"wszystko, co kocham",20 avril 2011,"Drame, Musical, Comédie",1h 35min,Jacek Borcuch,Jacek Borcuch,"Mateusz Kosciukiewicz, Olga Frycz, Jakub Gierszal",Pologne,Marc Guidoni / Fodivina Films,Box Office France,2016,"3,2","3,2",50774.0
9108,shapito show - partie 2,16 juillet 2014,"Comédie, Musical",1h 51min,Sergei Loban,Marina Potapova,"Piotr Mamonov, Stas Baretskiy, Aleksey Podolskiy",Russie,Damned Distribution,Box Office France,172,"3,2","3,6",40846.0
9110,le murmure des ruines,26 juin 2013,Drame,1h 33min,Liliane de Kermadec,Liliane de Kermadec,"Ruben Verdyan, Sarassar Sarayan, Hovhanès Khod...",France,107 entrées,Box Office France,152,"2,6","3,0",310.0
9112,bends,15 juillet 2015,Drame,1h 32min,Flora Lau,"Carina Lau, Flora Lau","Carina Lau, Kun Chen, Yuan Tian",Hong-Kong,A3 Distribution,Box Office France,826,"2,9","3,1",5669.0
9113,not in tel-aviv,5 juin 2013,"Comédie, Policier, Drame",1h 22min,Nony Geffen,Nony Geffen,"Nony Geffen, Romi Aboulafia, Yaara Pelzig",Israël,Arizona Distribution,Box Office France,282,"2,6","2,6",3212.0

In [12]:
import dateparser

# Convertir la colonne "date" en objets de type datetime de Pandas
df['release_date'] = df['release_date'].apply(lambda x: dateparser.parse(x).date())

# Créer une nouvelle colonne "année" en extrayant l'année à partir de la colonne "date"
df['release_date'] = pd.to_datetime(df['release_date'])

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7939 entries, 0 to 9113
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   title                  7939 non-null   object
 1   release_date           7939 non-null   datetime64[ns]
 2   genre                  7939 non-null   object
 3   duration               7939 non-null   object
 4   director               7939 non-null   object
 5   producers              7939 non-null   object
 6   cast                   7939 non-null   object
 7   nationality            7939 non-null   object
 8   distributor            7939 non-null   object
 9   box_office_title       7939 non-null   object
 10  box_office_first_week  7939 non-null   int64
 11  press_eval             7939 non-null   object
 12  viewers_eval           7939 non-null   object
 13  views                  7939 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(11)
memory usage: 930.4+ KB

In [14]:
import requests

def get_id(name, api_key):
    base_url = 'https://api.themoviedb.org/3/search/movie'
    url = f'{base_url}?api_key={api_key}&query={name}'
    response = requests.get(url)
    if response.status_code == 200:
        search_results = response.json()
        if search_results['total_results'] > 0:
            # Prendre le premier résultat de la liste (vous pouvez afficher tous les résultats si nécessaire)
            first_result = search_results['results'][0]
            movie_id = first_result['id']
            return movie_id
        else:
            return f"Aucun résultat trouvé pour '{name}'."
    else:
        return "Erreur lors de la requête API 1 ."

def get_budget(movie_id, api_key):
    base_url = 'https://api.themoviedb.org/3/movie/'
    url = f'{base_url}{movie_id}?api_key={api_key}'

    # Effectuer la requête
    response = requests.get(url)

    # Analyser la réponse JSON
    if response.status_code == 200:
        movie_data = response.json()
        budget = movie_data.get('budget')
        return budget
    else:
        return "Erreur lors de la requête API 2."

In [15]:
from dotenv import load_dotenv
import os

load_dotenv()

api_key = os.getenv('API_KEY_BUDGET')

for index, row in df.iterrows():
    title = row['title']
    budget = get_budget(get_id(title, api_key), api_key)
    df.at[index, 'budget'] = budget

In [17]:
import pandas as pd

df_meteo = pd.read_csv('weekly_average_temperatures.csv')

In [18]:
import pandas as pd

# Assurez-vous que les colonnes "Start Date" et "End Date" de df_meteo sont au format datetime
df_meteo['Start Date'] = pd.to_datetime(df_meteo['Start Date'])
df_meteo['End Date'] = pd.to_datetime(df_meteo['End Date'])

# Ajouter une colonne "Temperature Moyenne" à df_films
df['Temperature Moyenne'] = None

villes = ['Lille', 'Bordeaux', 'Lyon', 'Paris']
for ville in villes:
    df[ville] = None

# Parcourir chaque date de sortie dans df_films
for index, row in df.iterrows():
    release_date = row['release_date']
    
    # Rechercher la semaine correspondante dans df_meteo
    matching_week = df_meteo[(df_meteo['Start Date'] <= release_date) & (df_meteo['End Date'] >= release_date)]
    
    if not matching_week.empty:
        # Récupérer la température moyenne pour cette semaine
        temperature_moyenne = matching_week.iloc[0]['Moyenne']
        
        # Ajouter la température moyenne à la colonne correspondante dans df_films
        df.at[index, 'Temperature Moyenne'] = temperature_moyenne
        
        for ville in villes:
            temperature_ville = matching_week.iloc[0][ville]
            df.at[index, ville] = temperature_ville

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7939 entries, 0 to 9113
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   title                  7939 non-null   object
 1   release_date           7939 non-null   datetime64[ns]
 2   genre                  7939 non-null   object
 3   duration               7939 non-null   object
 4   director               7939 non-null   object
 5   producers              7939 non-null   object
 6   cast                   7939 non-null   object
 7   nationality            7939 non-null   object
 8   distributor            7939 non-null   object
 9   box_office_title       7939 non-null   object
 10  box_office_first_week  7939 non-null   int64
 11  press_eval             7939 non-null   object
 12  viewers_eval           7939 non-null   object
 13  views                  7939 non-null   float64
 14  budget                 7939 non-null   object
 15  Temperature Moyenne    5935 non-null   object
 16  Lille                  5935 non-null   object
 17  Bordeaux               5935 non-null   object
 18  Lyon                   5935 non-null   object
 19  Paris                  5935 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(17)
memory usage: 1.5+ MB

In [20]:
df_sans_meteo = df.drop(['Temperature Moyenne','Lille','Paris','Lyon','Bordeaux'], axis=1)
df_sans_meteo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7939 entries, 0 to 9113
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   title                  7939 non-null   object
 1   release_date           7939 non-null   datetime64[ns]
 2   genre                  7939 non-null   object
 3   duration               7939 non-null   object
 4   director               7939 non-null   object
 5   producers              7939 non-null   object
 6   cast                   7939 non-null   object
 7   nationality            7939 non-null   object
 8   distributor            7939 non-null   object
 9   box_office_title       7939 non-null   object
 10  box_office_first_week  7939 non-null   int64
 11  press_eval             7939 non-null   object
 12  viewers_eval           7939 non-null   object
 13  views                  7939 non-null   float64
 14  budget                 7939 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(12)
memory usage: 1.2+ MB

In [21]:
df_avec_meteo = df.dropna(subset='Temperature Moyenne')
df_avec_meteo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5935 entries, 0 to 9113
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   title                  5935 non-null   object
 1   release_date           5935 non-null   datetime64[ns]
 2   genre                  5935 non-null   object
 3   duration               5935 non-null   object
 4   director               5935 non-null   object
 5   producers              5935 non-null   object
 6   cast                   5935 non-null   object
 7   nationality            5935 non-null   object
 8   distributor            5935 non-null   object
 9   box_office_title       5935 non-null   object
 10  box_office_first_week  5935 non-null   int64
 11  press_eval             5935 non-null   object
 12  viewers_eval           5935 non-null   object
 13  views                  5935 non-null   float64
 14  budget                 5935 non-null   object
 15  Temperature Moyenne    5935 non-null   object
 16  Lille                  5935 non-null   object
 17  Bordeaux               5935 non-null   object
 18  Lyon                   5935 non-null   object
 19  Paris                  5935 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(17)
memory usage: 973.7+ KB

In [67]:
df_avec_meteo.to_csv('df_avec_meteo.csv')
df_sans_meteo.to_csv('df_sans_meteo.csv')