In [42]:
import numpy as np
import pandas as pd
from ydata_profiling import ProfileReport
pd.set_option('display.max_rows', 2000)

In [97]:
df = pd.read_csv("df_sans_meteo.csv").head(150)

In [4]:
profile = ProfileReport(df, title="Profiling Report")

In [5]:
#profile.to_file("cinema.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [ ]:
#profile.to_notebook_iframe()

## Observation

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7939 entries, 0 to 7938
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             7939 non-null   int64
 1   title                  7939 non-null   object
 2   release_date           7939 non-null   object
 3   genre                  7939 non-null   object
 4   duration               7939 non-null   object
 5   director               7939 non-null   object
 6   producers              7939 non-null   object
 7   cast                   7939 non-null   object
 8   nationality            7939 non-null   object
 9   distributor            7939 non-null   object
 10  box_office_title       7939 non-null   object
 11  box_office_first_week  7939 non-null   int64
 12  press_eval             7939 non-null   object
 13  viewers_eval           7939 non-null   object
 14  views                  7939 non-null   float64
 15  budget                 7939 non-null   object
dtypes: float64(1), int64(2), object(13)
memory usage: 992.5+ KB

In [4]:
# Vérifier s'il y a des valeurs manquantes dans chaque colonne
missing_values = df.isnull().sum()
print(f"Valeurs manquantes :\n{missing_values}")

Valeurs manquantes :
Unnamed: 0               0
title                    0
release_date             0
genre                    0
duration                 0
director                 0
producers                0
cast                     0
nationality              0
distributor              0
box_office_title         0
box_office_first_week    0
press_eval               0
viewers_eval             0
views                    0
budget                   0
dtype: int64

In [9]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,7939.0,4377.168157,2604.970106,0.0,2117.5,4294.0,6596.0,9113.0
box_office_first_week,7939.0,157466.874795,319289.759308,4.0,6261.0,46320.0,165416.5,3906694.0
views,7939.0,375947.256707,630888.424373,61.0,54085.0,177819.0,449707.0,13541875.0

In [5]:
# Inspecter chaque colonne : 
for value in df:
    print(df[value].value_counts())
    print()

0       1
5820    1
5837    1
5836    1
5834    1
       ..
2830    1
2829    1
2828    1
2827    1
9113    1
Name: Unnamed: 0, Length: 7939, dtype: int64

brothers                 3
la traversée             3
the island               3
home                     3
gold                     2
                        ..
x-men: the last stand    1
planes                   1
driven                   1
kung-fu zohra            1
not in tel-aviv          1
Name: title, Length: 7871, dtype: int64

2013-04-17    15
2013-06-05    15
2016-11-23    15
2017-11-15    15
2013-06-26    14
              ..
2012-05-25     1
2008-09-24     1
2003-07-02     1
2003-06-18     1
2020-02-21     1
Name: release_date, Length: 1245, dtype: int64

Drame                                      1859
Comédie                                     887
Comédie dramatique                          494
Drame, Romance                              198
Thriller                                    193
                                           ...
Drame, Thriller, Aventure, Biopic             1
Comédie dramatique, Biopic, Drame             1
Epouvante-horreur, Fantastique, Romance       1
Thriller, Policier, Espionnage                1
Drame, Musical, Comédie                       1
Name: genre, Length: 904, dtype: int64

1h 30min    385
1h 40min    339
1h 35min    339
1h 45min    256
1h 38min    227
           ...
3h 05min      1
3h 20min      1
4h 32min      1
0h 41min      1
0h 55min      1
Name: duration, Length: 161, dtype: int64

François Ozon        18
Woody Allen          17
Steven Soderbergh    17
Steven Spielberg     17
Hong Sang-Soo        16
                     ..
Leslye Headland       1
Glenio Bonder         1
Chu Yen-Ping          1
Michael Rymer         1
Nony Geffen           1
Name: director, Length: 4367, dtype: int64

Woody Allen                               17
Hong Sang-Soo                             16
François Ozon                             13
Luc Besson                                12
Hirokazu Kore-eda                         11
                                          ..
Ahmed Hamidi, Fatsah Bouyahmed             1
Boaz Yakin                                 1
Michael Bully Herbig, Thilo Röscheisen     1
Gad Elmaleh, Caroline Thivel               1
Nony Geffen                                1
Name: producers, Length: 6415, dtype: int64

Daniel Radcliffe, Rupert Grint, Emma Watson                7
Ariane Ascaride, Jean-Pierre Darroussin, Gérard Meylan     5
Jennifer Lawrence, Josh Hutcherson, Liam Hemsworth         4
Alain Chabat, Mike Myers, Med Hondo                        4
Gérard Lanvin, Ray Romano, Elie Semoun                     4
                                                          ..
Ruby Stokes, Emily Carey, Michael Maloney                  1
Khansa Batma, Ahmed Hammoud, Said Bey                      1
Sandrine Bonnaire, Philippe Torreton, Gregori Derangère    1
Feng Shaofeng, Shawn Dou, Ankhnyam Ragchaa                 1
Nony Geffen, Romi Aboulafia, Yaara Pelzig                  1
Name: cast, Length: 7872, dtype: int64

France                 3063
U.S.A.                 2371
Grande-Bretagne         332
Allemagne               175
Italie                  163
                       ...
Qatar                     1
Emirats Arabes Unis       1
Bolivie                   1
Arabie Saoudite           1
Guinée-Bissau             1
Name: nationality, Length: 111, dtype: int64

Metropolitan FilmExport                           410
Warner Bros. France                               314
Universal Pictures International France           272
Pathé                                             268
Twentieth Century Fox France                      238
                                                 ...
9ème Dimension                                      1
Pirates Distribution                                1
110 315 entrées                                     1
Happiness Distribution / Pyramide Distribution      1
107 entrées                                         1
Name: distributor, Length: 513, dtype: int64

Box Office France    7939
Name: box_office_title, dtype: int64

36       7
51       6
180      5
88       5
70       5
        ..
61028    1
20269    1
25250    1
4697     1
2016     1
Name: box_office_first_week, Length: 7409, dtype: int64

3,3    534
3,1    520
3,4    515
3,0    509
3,2    477
2,9    463
3,5    453
3,6    422
2,8    407
3,7    358
2,6    339
3,8    317
2,7    315
2,3    237
2,5    234
2,4    208
3,9    207
4,0    180
4,1    161
2,2    144
2,1    134
2,0    133
1,8     99
4,2     82
1,9     81
4,3     64
4,4     53
1,7     52
1,5     50
1,6     40
4,5     25
1,3     25
4,6     24
1,4     22
1,0     19
1,2     13
4,7     11
4,8      6
4,9      5
1,1      1
Name: press_eval, dtype: int64

3,3    413
3,4    403
3,2    403
2,9    392
3,1    391
3,0    382
3,6    382
3,5    371
2,7    355
2,8    351
3,7    346
3,8    346
2,6    333
2,5    297
3,9    282
2,4    279
2,3    241
--     239
4,0    230
2,2    221
2,1    217
4,1    154
2,0    153
1,9    135
1,8    123
1,7    106
4,2    105
1,6     72
4,3     47
1,5     47
1,4     34
1,3     21
4,4     18
4,5     13
1,2     12
1,0     11
1,1      9
0,9      4
0,8      1
Name: viewers_eval, dtype: int64

3174535.0    9
508047.0     8
141209.0     7
34288.0      6
1951671.0    5
            ..
42893.0      1
921591.0     1
298752.0     1
214540.0     1
3212.0       1
Name: views, Length: 7774, dtype: int64

0                                   4506
20000000                             118
Erreur lors de la requête API 2.     111
30000000                             102
0.0                                  100
                                    ...
13442285                               1
49300000                               1
2978000                                1
5290000                                1
310000                                 1
Name: budget, Length: 694, dtype: int64

In [72]:
# Convertir toutes les valeurs de la colonne "genre" en minuscules
df['genre'] = df['genre'].str.lower()

# Supprimer les espaces en début et en fin de chaque genre
df['genre'] = df['genre'].str.strip()

# Supprimer les espaces entre les genres
df['genre'] = df['genre'].str.replace(', ', ',')

In [73]:
df['genre']

0                     action,fantastique,science fiction
1                                                comédie
2                                                  drame
3                                     comédie dramatique
4                                         thriller,drame
5                                       comédie,thriller
6                                       aventure,comédie
7                                         biopic,musical
8                                                comédie
9                                                comédie
10                                 comédie,drame,romance
11                                               comédie
12                                               comédie
13                                                 drame
14                                               comédie
15                                     thriller,policier
16                                                 drame
17                                          biopic,drame
18                                              thriller
19                                        thriller,drame
20                           action,aventure,fantastique
21                    action,science fiction,fantastique
22                      comédie dramatique,drame,comédie
23                                       policier,action
24                         epouvante-horreur,fantastique
25                                         action,guerre
26                                                action
27                                     biopic,historique
28                                              thriller
29                                         romance,drame
30                                    comédie dramatique
31                 animation,action,fantastique,aventure
32            animation,action,aventure,comédie musicale
33                             animation,comédie,famille
34                                       action,aventure
35            animation,arts martiaux,action,fantastique
36                                        policier,drame
37                      comédie dramatique,drame,comédie
38                       action,aventure,science fiction
39                                                 drame
40                              action,policier,thriller
41                         animation,fantastique,famille
42                                    comédie dramatique
43                            comédie,comédie dramatique
44                              science fiction,aventure
45                                        drame,thriller
46                                         drame,romance
47                       science fiction,thriller,action
48                              science fiction,thriller
49                                               comédie
50                                     historique,action
51                                               comédie
52                                          biopic,drame
53                                     epouvante-horreur
54                           action,fantastique,aventure
55                                    comédie dramatique
56                 romance,science fiction,comédie,drame
57                          fantastique,aventure,famille
58                                                action
59                               drame,biopic,historique
60                                       action,thriller
61                                      aventure,comédie
62                      comédie dramatique,drame,comédie
63                      comédie dramatique,drame,comédie
64                                               comédie
65                         epouvante-horreur,fantastique
66                                                 drame
67                                        drame,thriller
68                                              thriller
69                                    comédie dramatique
70                                                 drame
71                                     epouvante-horreur
72                                    comédie dramatique
73                                     epouvante-horreur
74                                                 drame
75     action,comédie,drame,science fiction,arts mart...
76                                         romance,drame
77                                         drame,romance
78                                                 drame
79                                                 drame
80                                               comédie
81                            action,espionnage,thriller
82                                     thriller,policier
83                                               comédie
84                                comédie,aventure,drame
85                                 science fiction,drame
86                                                 drame
87                             drame,historique,policier
88                                  fantastique,aventure
89                                      historique,drame
90                                               comédie
91                                        drame,thriller
92                              comédie musicale,romance
93                                              aventure
94                                    comédie dramatique
95                                        action,comédie
96                                      comédie,policier
97                                          biopic,drame
98                                        aventure,drame
99                                       thriller,action
100                                                drame
101                                science fiction,drame
102                 epouvante-horreur,biopic,fantastique
103                                         drame,biopic
104                             animation,aventure,drame
105                              drame,historique,guerre
106    comédie dramatique,policier,judiciaire,drame,c...
107                                         drame,biopic
108                                        drame,comédie
109                                   comédie dramatique
110                                              comédie
111                                              comédie
112                                      comédie,romance
113                                                drame
114                                    action,espionnage
115                                                drame
116                                                drame
117                             animation,action,famille
118                                               action
119                                    epouvante-horreur
120                                              comédie
121                                              comédie
122                                              comédie
123                           animation,famille,aventure
124                              biopic,drame,historique
125                                     comédie,policier
126                                        drame,romance
127                                        comédie,drame
128                                                drame
129                                              comédie
130                                              comédie
131                                        drame,romance
132                                       comédie,action
133                               drame,romance,thriller
134                                                drame
135                            drame,historique,thriller
136                                      aventure,action
137                                      action,thriller
138                                              comédie
139                                                drame
140                                               biopic
141          science fiction,aventure,fantastique,action
142                          aventure,action,fantastique
143                                        drame,romance
144                             drame,historique,romance
145                            animation,comédie,famille
146                                  aventure,historique
147                            animation,famille,comédie
148                           epouvante-horreur,thriller
149                                      animation,drame
Name: genre, dtype: object

In [95]:
# Convertir toutes les valeurs de la colonne "cast" en minuscules et supprimer les espaces en début et en fin
df['cast'] = df['cast'].str.lower().str.strip()

# Supprimer les espaces entre les acteurs
df['cast'] = df['cast'].str.replace(', ', ',')

# Encodage des acteurs
actors_encoding = df['cast'].str.get_dummies(sep=',')
actors_encoding.columns = ['actor_' + col for col in actors_encoding.columns]

# Convertir toutes les valeurs de la colonne "producers" en minuscules et supprimer les espaces en début et en fin
df['producers'] = df['producers'].str.lower().str.strip()

# Supprimer les espaces entre les producteurs
df['producers'] = df['producers'].str.replace(', ', ',')

# Encodage des producteurs
producers_encoding = df['producers'].str.get_dummies(sep=',')
producers_encoding.columns = ['producer_' + col for col in producers_encoding.columns]

# Convertir toutes les valeurs de la colonne "genre" en minuscules et supprimer les espaces en début et en fin
df['genre'] = df['genre'].str.lower().str.strip()

# Supprimer les espaces entre les genres
df['genre'] = df['genre'].str.replace(', ', ',')

# Encodage du genre
genre_encoding = df['genre'].str.get_dummies(sep=',')
genre_encoding.columns = ['genre_' + col for col in genre_encoding.columns]

# Concaténation des DataFrames d'encodage avec le DataFrame principal
df_encoded = pd.concat([df, actors_encoding, producers_encoding, genre_encoding], axis=1)

# Supprimez les colonnes d'origine
df_encoded.drop(columns=['cast', 'producers', 'genre'], inplace=True)

In [100]:
from sklearn.preprocessing import MultiLabelBinarizer

# Convertir les colonnes "actor", "producer" et "genre" en listes de listes
actors_list = [actors.split(',') for actors in df['cast']]
producers_list = [producers.split(',') for producers in df['producer']]
genre_list = [genre.split(',') for genre in df['genre']]

# Créer une instance de MultiLabelBinarizer pour chaque colonne
mlb_actors = MultiLabelBinarizer()
mlb_producers = MultiLabelBinarizer()
mlb_genre = MultiLabelBinarizer()

# Adapter et transformer les étiquettes pour chaque colonne
actors_encoded = mlb_actors.fit_transform(actors_list)
producers_encoded = mlb_producers.fit_transform(producers_list)
genre_encoded = mlb_genre.fit_transform(genre_list)

In [105]:
print(genre_encoded)

[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

In [96]:
genre_encoding.columns

Index(['genre_action', 'genre_animation', 'genre_arts martiaux',
       'genre_aventure', 'genre_biopic', 'genre_comédie',
       'genre_comédie dramatique', 'genre_comédie musicale', 'genre_drame',
       'genre_epouvante-horreur', 'genre_espionnage', 'genre_famille',
       'genre_fantastique', 'genre_guerre', 'genre_historique',
       'genre_judiciaire', 'genre_musical', 'genre_policier', 'genre_romance',
       'genre_science fiction', 'genre_thriller'],
      dtype='object')

In [57]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Columns: 683 entries, Unnamed: 0 to genre_Thriller
dtypes: float64(1), int64(672), object(10)
memory usage: 800.5+ KB

In [46]:
import matplotlib as plt

In [106]:
top_distributors = df_encoded['distributor'].value_counts().head(10)

plt.figure(figsize=(10, 6))
plt.bar(top_distributors.index, top_distributors.values)
plt.xlabel('Distributeur')
plt.ylabel('Nombre de films')
plt.title('Top 10 des distributeurs par nombre de films')
plt.xticks(rotation=45)
plt.show()

TypeError: 'module' object is not callable